@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-gray-200;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
